<!DOCTYPE html>
<html>
<head>
    <title>Zansen</title>
    <script src="../static/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <link href="../static/css/normalize.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class='main-div' id='header'>
    </div>
    <div class='main-div' id='nav'>
        <ul class="nav">
            <li><a href="#">zansen</a></li>
            <li><a href="#">msg</a></li>
            <li><a href="#">palaute</a></li>
        </ul>
    </div>
    <div class='main-div' id='content'>
    </div>
    <div id='footer'>
        <p>© Tiksa 2012. Kaikki super oikeudet pidätetään.</p>
    </div>
</body>
</html>
