{% extends "base.html" %}

{% block content %}
<div class="paragraph">
    <h3>Tervetuloa</h3>
    <hr>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dolor odio, cursus ut sodales eu, imperdiet sit amet mauris. Proin non laoreet lorem. Donec aliquam felis sem, eu pharetra magna. Aliquam rutrum porttitor blandit. Suspendisse ut quam vitae sem adipiscing gravida in vitae massa. Fusce ut consequat lorem. Sed vestibulum nibh id mauris accumsan non dignissim purus dictum. Morbi augue turpis, pharetra ac iaculis ac, laoreet non nulla. Nam rhoncus lectus sit amet libero tristique imperdiet. Phasellus accumsan mi pulvinar quam dignissim viverra ultrices mi dapibus. Cras non nulla urna, molestie egestas massa. Aliquam quam erat, adipiscing id tincidunt ac, accumsan eu leo. Aenean imperdiet, quam vitae faucibus gravida, augue dui fringilla ligula, nec scelerisque justo diam at eros. Etiam libero risus, varius a consequat ut, eleifend at massa. In lectus lacus, ultricies a molestie dapibus, lobortis sit amet risus. Vivamus ac mollis nisl.
    </p>
</div>
{% endblock content %}
