{% extends "base.html" %}

{% block content %}
<div id="msg-page-wrapper">
    <div id="msg-wrapper">
        {% for message in messages %}
            <div class="message">
                <div class="clearfix">
                    <h3>{{ message.sender }}</h3>
                    <div class="datetime">{{ message.date|date:"d.m.Y \k\l\o H:i" }}</div>
                </div>
                <p>{{ message.text }}</p>
            </div>
        {% endfor %}
    </div>
    <hr>
    <form id="form-msg" action="" method="post">
        {% csrf_token %}
            {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }}<br />
            {{ field }}<br />
        {% endfor %}
        <input type="submit" value="Lähetä" />
    </form>
</div>

<script>
    
    $(document).ready(function() {
        var form = $('#form-msg');

        form.submit(function() {
            $.ajax({
                type: "POST",
                url: '/send_msg/',
                data: form.serialize(),
                success: function (data) {
                    $('#id_sender').attr('value', '');
                    $('#id_text').attr('value', '');
                    
                    console.log(data);
                    var dateParts = data.date.split(" ")[0].split("-");
                    var timeParts = data.date.split(" ")[1].split(":");
                    var formattedDate = dateParts[2] + "." + dateParts[1] + "." + dateParts[0] + " klo " + timeParts[0] + ":" + timeParts[1];
                    var msgHtml = 
                        '<div class="message">\
                            <div class="clearfix">\
                            <h3>' + data.sender + '</h3>\
                            <div class="datetime">' + formattedDate + '</div>\
                            </div>\
                            <p>' + data.text + '</p>\
                        </div>';
                    $('#msg-wrapper').append(msgHtml);
                }
            });
            
            return false;
        });
    });
</script>
{% endblock %}
